<div class = "bg-yellow-50">
  <div  *ngIf = "this.rout.url !== '/register'" class = "grid grid-cols-3 shadow-sm" >
    <a class = "text-4xl font-bold ml-5 py-5 hover:text-gray-600" routerLink = "/home">
      mech builder
    </a>
    <div class = "grid grid-cols-2 my-auto font-bold text-2xl">
      <a routerLink="/build" class = "btn">
        build
      </a>
      <a routerLink = "/saved_builds" class = "btn">
        saved builds
      </a>
    </div>
    <div class = "flex my-auto font-bold text-xl justify-self-end">
      <button class = "mr-7 btn-log" (click) = "this.login = !this.login" *ngIf = "user.getUser()==''">
        login 
      </button>
      <button class = "mr-7 btn-log hover:text-gray-500" *ngIf="user.getUser()!==''" (click) = "this.logout = !this.logout">
        {{user.getUser()}}
      </button>
      <a routerLink = "/register" class = "mr-10 btn-log" (click) = "this.login = false" *ngIf="user.getUser()==''">
        signup
      </a>
    </div>
  </div>
</div>

<div class = "float-right justify-end w-1/6 bg-slate-100 rounded-3xl rounded-t-none" *ngIf="login==true" [@fadeInOut]>
  <div class = "mb-4 px-2 relative z-10">
      <input #inp_user type = "text" id= "username" placeholder = "username" class = "px-3 my-2 py-3 text-2xl rounded-3xl">
      <input #inp_pass type = "password" id = "password" placeholder = "password" class = "px-3 my-2 py-3 text-2xl rounded-3xl">
  </div>
  <div class = "text-center pb-2 px-2 relative z-10">
    <button class = "text-2xl mt-2 bg-slate-200 rounded-3xl px-3 py-1 hover:bg-slate-300 shadow-sm" (click) = "logUser(inp_user.value, inp_pass.value)">
      login
    </button>
  </div>
  <div class = "my-2 flex flex-row text-xl">
    <button class = "bg-white px-4 py-3 mx-auto font-bold flex flex-row rounded-md hover:bg-slate-50 z-20 shadow-sm" (click) = "loginGoogle()">
      <ng-icon name = "Simple-Google" class = "mr-4 my-auto" ></ng-icon>
      <div class = "my-auto">
        Sign in with Google
      </div>
    </button>
  </div>
</div>

<div class = "float-right justify-end flex flex-row" *ngIf = "logout==true">
  <div class = " bg-slate-100 rounded-3xl rounded-t-none"  [@fadeInOut]>
    <button class = "mx-10 float-left btn-log font-semibold my-5 relative z-10" (click) = "logOut()">
      logout
    </button>
  </div>
</div>

<div class="mt-2 fixed bottom-0 bg-slate-100 w-full text-xl shadow-inner z-10">
  <div class = "px-5 py-3 hover:text-slate-600 ">
    <a href = "https://github.com/TheSachsquatch" target = "_blank">
      <ng-icon name= "Simple-Github" class = "pt-1"></ng-icon>
      thesachsquatch
    </a>
  </div>
</div>

<router-outlet> </router-outlet>